# Imports

In [42]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import csv
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Analiza

## Ucitavanje podataka

In [40]:
def csv_to_pd(path):
    return pd.read_csv(path)

def pandas_uniques(df, col_name):
    counts = df[col_name].value_counts()
    unique = df[col_name].unique()
    return unique,counts

def print_uniques(df, cols, count_per_categ=False):
    for c in cols:
        print()
        print(c)
        print("-----------------")
        u, b = pandas_uniques(df,c)
        print("\tVrednosti: ",u)
        print("\tBroj jedinstvenih: ",len(u))
    
        if not count_per_categ: continue
        print("\tJedinstvenih:")
        for i in range(len(b)):
            print("\t",b.iloc[i])

In [23]:
applications = csv_to_pd("./data/application_record.csv")
credits = csv_to_pd("./data/credit_record.csv")

In [24]:
applications.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438557 non-null  int64
 1   CODE_GENDER          438557 non-null  object
 2   FLAG_OWN_CAR         438557 non-null  object
 3   FLAG_OWN_REALTY      438557 non-null  object
 4   CNT_CHILDREN         438557 non-null  int64
 5   AMT_INCOME_TOTAL     438557 non-null  float64
 6   NAME_INCOME_TYPE     438557 non-null  object
 7   NAME_EDUCATION_TYPE  438557 non-null  object
 8   NAME_FAMILY_STATUS   438557 non-null  object
 9   NAME_HOUSING_TYPE    438557 non-null  object
 10  DAYS_BIRTH           438557 non-null  int64
 11  DAYS_EMPLOYED        438557 non-null  int64
 12  FLAG_MOBIL           438557 non-null  int64
 13  FLAG_WORK_PHONE      438557 non-null  int64
 14  FLAG_PHONE           438557 non-null  int64
 15  FLAG_EMAIL           438557 non-null  int64
 16  OCCUPATION_TYPE      304354 non-null  object
 17  CNT_FAM_MEMBERS      438557 non-null  float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.2+ MB

In [64]:
cols = ['CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',\
        'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE']\

print_uniques(applications,cols)

CODE_GENDER
-----------------
	Vrednosti:  ['M' 'F']
	Broj jedinstvenih:  2

FLAG_OWN_CAR
-----------------
	Vrednosti:  ['Y' 'N']
	Broj jedinstvenih:  2

FLAG_OWN_REALTY
-----------------
	Vrednosti:  ['Y' 'N']
	Broj jedinstvenih:  2

NAME_INCOME_TYPE
-----------------
	Vrednosti:  ['Working' 'Commercial associate' 'Pensioner' 'State servant' 'Student']
	Broj jedinstvenih:  5

NAME_EDUCATION_TYPE
-----------------
	Vrednosti:  ['Higher education' 'Secondary / secondary special' 'Incomplete higher'
 'Lower secondary' 'Academic degree']
	Broj jedinstvenih:  5

NAME_FAMILY_STATUS
-----------------
	Vrednosti:  ['Civil marriage' 'Married' 'Single / not married' 'Separated' 'Widow']
	Broj jedinstvenih:  5

NAME_HOUSING_TYPE
-----------------
	Vrednosti:  ['Rented apartment' 'House / apartment' 'Municipal apartment'
 'With parents' 'Co-op apartment' 'Office apartment']
	Broj jedinstvenih:  6

OCCUPATION_TYPE
-----------------
	Vrednosti:  [nan 'Security staff' 'Sales staff' 'Accountants' 'Laborers' 'Managers'
 'Drivers' 'Core staff' 'High skill tech staff' 'Cleaning staff'
 'Private service staff' 'Cooking staff' 'Low-skill Laborers'
 'Medicine staff' 'Secretaries' 'Waiters/barmen staff' 'HR staff'
 'Realty agents' 'IT staff']
	Broj jedinstvenih:  19

In [18]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   ID              1048575 non-null  int64
 1   MONTHS_BALANCE  1048575 non-null  int64
 2   STATUS          1048575 non-null  object
dtypes: int64(2), object(1)
memory usage: 24.0+ MB

In [41]:
cols = ['STATUS']
print_uniques(credits,cols)

STATUS
-----------------
	Vrednosti:  ['X' '0' 'C' '1' '2' '3' '4' '5']
	Broj jedinstvenih:  8

## Enkodiranje

In [57]:
def encode_column(df, col_spec):
    df_enc = df.copy()
    for (c, is_one_hot) in col_spec:
        if is_one_hot:
            df_enc = pd.get_dummies(df_enc, columns=[c], dtype=int)
            continue
        le = LabelEncoder()
        le.fit(df_enc[c])
        df_enc[c] = le.transform(df_enc[c])
    return df_enc

In [58]:
cols = [('CODE_GENDER',False),\
        ('FLAG_OWN_CAR',False),\
        ('FLAG_OWN_REALTY',False),\
        ('NAME_INCOME_TYPE', True),\
        ('NAME_EDUCATION_TYPE',False),\
        ('NAME_FAMILY_STATUS',True),\
        ('NAME_HOUSING_TYPE',True), ('OCCUPATION_TYPE',True)]

app_enc = encode_column(applications, cols)

In [60]:
app_enc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 48 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   ID                                       438557 non-null  int64
 1   CODE_GENDER                              438557 non-null  int32
 2   FLAG_OWN_CAR                             438557 non-null  int32
 3   FLAG_OWN_REALTY                          438557 non-null  int32
 4   CNT_CHILDREN                             438557 non-null  int64
 5   AMT_INCOME_TOTAL                         438557 non-null  float64
 6   NAME_EDUCATION_TYPE                      438557 non-null  int32
 7   DAYS_BIRTH                               438557 non-null  int64
 8   DAYS_EMPLOYED                            438557 non-null  int64
 9   FLAG_MOBIL                               438557 non-null  int64
 10  FLAG_WORK_PHONE                          438557 non-null  int64
 11  FLAG_PHONE                               438557 non-null  int64
 12  FLAG_EMAIL                               438557 non-null  int64
 13  CNT_FAM_MEMBERS                          438557 non-null  float64
 14  NAME_INCOME_TYPE_Commercial associate    438557 non-null  int32
 15  NAME_INCOME_TYPE_Pensioner               438557 non-null  int32
 16  NAME_INCOME_TYPE_State servant           438557 non-null  int32
 17  NAME_INCOME_TYPE_Student                 438557 non-null  int32
 18  NAME_INCOME_TYPE_Working                 438557 non-null  int32
 19  NAME_FAMILY_STATUS_Civil marriage        438557 non-null  int32
 20  NAME_FAMILY_STATUS_Married               438557 non-null  int32
 21  NAME_FAMILY_STATUS_Separated             438557 non-null  int32
 22  NAME_FAMILY_STATUS_Single / not married  438557 non-null  int32
 23  NAME_FAMILY_STATUS_Widow                 438557 non-null  int32
 24  NAME_HOUSING_TYPE_Co-op apartment        438557 non-null  int32
 25  NAME_HOUSING_TYPE_House / apartment      438557 non-null  int32
 26  NAME_HOUSING_TYPE_Municipal apartment    438557 non-null  int32
 27  NAME_HOUSING_TYPE_Office apartment       438557 non-null  int32
 28  NAME_HOUSING_TYPE_Rented apartment       438557 non-null  int32
 29  NAME_HOUSING_TYPE_With parents           438557 non-null  int32
 30  OCCUPATION_TYPE_Accountants              438557 non-null  int32
 31  OCCUPATION_TYPE_Cleaning staff           438557 non-null  int32
 32  OCCUPATION_TYPE_Cooking staff            438557 non-null  int32
 33  OCCUPATION_TYPE_Core staff               438557 non-null  int32
 34  OCCUPATION_TYPE_Drivers                  438557 non-null  int32
 35  OCCUPATION_TYPE_HR staff                 438557 non-null  int32
 36  OCCUPATION_TYPE_High skill tech staff    438557 non-null  int32
 37  OCCUPATION_TYPE_IT staff                 438557 non-null  int32
 38  OCCUPATION_TYPE_Laborers                 438557 non-null  int32
 39  OCCUPATION_TYPE_Low-skill Laborers       438557 non-null  int32
 40  OCCUPATION_TYPE_Managers                 438557 non-null  int32
 41  OCCUPATION_TYPE_Medicine staff           438557 non-null  int32
 42  OCCUPATION_TYPE_Private service staff    438557 non-null  int32
 43  OCCUPATION_TYPE_Realty agents            438557 non-null  int32
 44  OCCUPATION_TYPE_Sales staff              438557 non-null  int32
 45  OCCUPATION_TYPE_Secretaries              438557 non-null  int32
 46  OCCUPATION_TYPE_Security staff           438557 non-null  int32
 47  OCCUPATION_TYPE_Waiters/barmen staff     438557 non-null  int32
dtypes: float64(2), int32(38), int64(8)
memory usage: 97.0 MB

## Prikaz

In [66]:
def plot_sub(data, axes, i, j, bins, color,title=None):
    m = np.mean(data)
    v = np.var(data)
    sns.histplot(data = data, bins = bins, ax = axes[i,j], color=color, legend=False)
    axes[i,j].axvline(m, color='red', linestyle='dashed', linewidth=2, label=f'Mean: {m:.2f}')
    axes[i,j].axvline(m - np.sqrt(v), color='green', linestyle='dashed', linewidth=2, label=f'-1 SD')
    axes[i,j].axvline(m + np.sqrt(v), color='green', linestyle='dashed', linewidth=2, label=f'+1 SD')

    if not title is None:
        axes[i,j].set_title(title)

def plot_features(X):
    X_t = X.copy()
    w = int(len(X_t)**0.5)
    h = len(X_t)//w
    if len(X_t)%w !=0:
        h+=1
    fig, axes = plt.subplots(h, w, figsize = (30,30))
    for i in range(h):
        for j in range(w):
            ind = i*w + j
            plot_sub(X_t[ind], axes, i, j, 50, 'steelblue')
    plt.tight_layout()
    plt.show()

In [ ]:
to_disp = app_enc['CNT_CHILDREN']
plot_features(app_enc)

KeyboardInterrupt

Error in callback <function _draw_all_if_interactive at 0x0000026D46912FC0> (for post_execute), with arguments args (),kwargs {}:

KeyboardInterrupt